.search-container {
  margin-top: 10px;
}
  
  .input {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 1px solid #ddd;  
    width:300px

  }
  
  .button {
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  
  .button:hover {
    background: #ccc;
  }
  
  @media screen and (max-width: 375px) {
    
   .input {
      width: 200px;
    }
   
  }
